.grid_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.grid_item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(34, 255, 248, 0.861);
}

@media (min-width: 768px) {
    .grid_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .grid_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid_item h3 {
    background-color: #4ae8ce;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}
 .partReq h2 {
    background-color: #ff8b5a;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

